{% extends 'base.html' %}

{% block body %}
<div class="container" >
     {% for item in items %}
     <div class="col-md-4" align="middle">
     {% if item.image %}
        <img src="{{ item.image.url }}"   align="middle" class="img-round"
             width="300" height="200">
          {% endif %}
          <table style="width:70%">
              <tr>
               <h3>{{ item.item_name }} &nbsp ${{ item.unit_price }}</h3>
              </tr>
              {% if item in carts %}
              <tr>
                  <a href="{% url 'invoice:cart' action='remove' pk=item.pk %}">
                      <button type="button" class="btn btn-danger btn-xs">Remove from Cart</button></a>
              </tr>
              {% else %}
              <tr>
                  <a href="{% url 'invoice:cart' action='add' pk=item.pk %}">
                     <button type="button" class="btn btn-success btn-xs">Add to Cart</button></a>
              </tr>
              {% endif %}
          </table>
     </div>
     {% endfor %}
<a href="{% url 'invoice:checkout' pk=invoice.pk %}">
     <button type="button" class="btn btn-info btn-xs" style=" position: absolute; bottom: 10%; right : 50%">
         Checkout</button></a>
</div>
{% endblock %}
